.header-buscador {
    margin-top: 150px;
    margin-bottom: 20px;
   
}
.h1-buscador {
    margin-bottom: 20px
}
.input-buscar {
    padding: 10px;
    width: 200px
}

.h3-mensaje-buscar {
    margin-top: 20px;
}