
body {
    font-size: large;
}
label {
 
}
input, select, option {
    padding: 6px;
    font-size: large;
    width: 450px;
}

#radio {
    width: 50px;
}

li {
    margin: 10px;
}

option{
   
}

.div-agregar-video {
    margin-top: 110px;
}

.lista-formulario-clip {

   
}

.lista-formulario-clip li {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

#li-agregar-clip {
    justify-content: center;
}

button {
    padding: 15px;
}

.div-categoria {
    display: flex;
    justify-content: center;
}