
body {
    font-size: large;
}
label {
 width: 300px;
}

.lista-formulario-clip {
    font-size: large;
}

.lista-formulario-clip  input {
    padding: 6px;
    width: 480px;
    font-size: large;
 
}

select {
    padding: 6px;
    font-size: large;
    width: 495px; /* No se porque no me tengo que ponerle 15 px mas para que quede igual que el 480px del input */
}

.lista-formulario-clip  label {
    padding: 6px;
    font-size: large;
 
}

#radio {
    width: 50px;
}

li {
    margin: 10px;
}



.div-agregar-video {
    margin-top: 0px;
}

.lista-formulario-clip {
    margin: 50px 0px;
    padding: 20px;
    background-color: rgb(31, 29, 29);
   
}

.lista-formulario-clip li {
    display: flex;
    gap: 60px;
    justify-content: space-around;
}

#li-agregar-clip {
    justify-content: center;
    margin: 30px;
}

button {
    padding: 15px;
}

.div-categoria {
    display: flex;
    justify-content: center;
    width: 480px;
}