.section-peliculas {
    margin: 55% auto 5% auto;
}

.container-pelicula {
    position: relative; /* Contenedor relativo */
    display: inline-block; /* Asegura que los contenedores estén alineados correctamente */
    margin-bottom: 10px; /* Espacio entre elementos */
}

.img-pelicula {
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.link-pelicula:hover .img-pelicula {
    filter: brightness(90%);
    transform: scale(1.02); /* Escala la imagen sin afectar el flujo del documento */
}

.h2-lista-pelicula {
    background-color: rgba(0, 0, 0, 0.637);
    width: 100%;
    position: absolute; /* Posiciona el subtítulo absolutamente */
    color: rgb(255, 217, 0);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -40%); /* Centra horizontalmente */
    margin: 0px;
    padding: 5px;
    font-size: 1.4vw;
    font-family: Fantasy;
    transition: opacity 0.7s, max-height 0.7s;
    z-index: 13;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.link-pelicula:hover + .h2-lista-pelicula {
    opacity: 1;
    max-height: 1000px;
    transition: opacity 0.5s, max-height 0.5s;
    z-index: 3;
}

.section-edicion {
    width: 300px;
    background-color: rgba(20, 19, 19, 0.829);
    height: 180px;
  
}
.h3-modo-editar {
    color: yellow;
    padding: 20px;
    cursor: pointer;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.h3-modo-editar:hover {
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1.1);
}


.h3-mensaje {
    color: yellow;
    position: absolute;
    top: 30%;
}

@media (min-width: 800px) {
    .section-peliculas {
        margin: 12% auto 5% auto;
    }
    .section-edicion {
        width: 380px;
        height: 210px;
    }
}

@media (min-width: 1550px) {
    .section-peliculas {
        margin: 12% auto 5% auto;
    }
    .section-edicion {
        width: 500px;
        height: 300px;
    }
}
