

h2 {
    margin: 5px;
    font-size:larger;
}

.main-recursos {
    margin-top: 20%;
}
.grid-2 {
    display : flex; 
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.grid-2 article {
    transition: 0.3s;
    margin-bottom: 10px;
}

.grid-2 article:hover {
    transition: 0.3s;
    filter: brightness(80%);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    color: white;
    cursor: pointer;
}

.grid-2 img {
    width: 300px;
}

.h2-recursos {
    font-size: x-large;
}


.image-speaking{

}

.image-listening{
  
}
.image-conversations{
  
}

.image-speaking{
    
}

@media (min-width: 1550px) {
   .grid-2 img {
    width: 350px;
}}