.div-sesion {
    margin-top: 40%;
}

form {
    background-image: url("../../../public/estrellado.jpg");
    background-size: cover;
    border-radius: 10px;
    padding: 5px;
    margin-top: 30px;
    font-size: large;
    border: 2.2px solid white;
}

.h1-sesion {
    font-size: xx-large;
    margin-top: 20px;
}

.lista-registro li {
    width: 350px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.445);
    padding: 15px;
}

.lista-registro input {
    width: 100%;

}

.lista-registro button {
    margin-top: 20px;

    background-color: rgba(20, 20, 20, 0.678);
    border: 1px solid rgb(167, 164, 164);
    border-radius: 10px;
    font-size: large;
}

.mensaje-error {
    font-size: x-large;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid rgb(134, 134, 134);
}

button {
    cursor: pointer;
}

.btn-volver {
    width: 1.6vw;
}


@media (min-width: 1550px) {
    .grid-2 img {
     width: 350px;
 }
   }