.subtitulo-volver{
    position: absolute;
    top: 0;
    right: 40px;
    color: rgb(243, 227, 1);
}
form {
    background-image: url("../../../public/estrellado.jpg");
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    font-size: x-large;
    border: 2.2px solid white;
}

.h1-sesion {

}

.lista-registro li {
    width: 450px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.445);
    padding: 15px;

    margin-top: 20px;

}

.lista-registro input {
    width: 220px;

}

.lista-registro button {
    margin-top: 20px;

    background-color: rgba(20, 20, 20, 0.678);
    border: 1px solid rgb(167, 164, 164);
    font-size: x-large;
}

.mensaje-error {
    font-size: x-large;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid rgb(134, 134, 134);
}

button {
    cursor: pointer;
}

.btn-volver {
    width: 1.6vw;
}