.div-grabaciones {
    display: flex;
    flex-direction: column;
    height: 380px;
}

iframe {
    width: 450px;
    height: 250px;
}

@media (max-width: 1450px) {
    iframe {
        width: 400px;
        height: 200px;
    }
  }

