

  .article-clip {
    background-color: #1a1919f6;
    border-radius: 5px;
    width: 90vw;    
    padding: 20px;
    margin-top: 12%;
  }

  .portada {
    height: 70vh;
  }

  .section-video {
    margin: 15px 10px;
    height:660px;
  }

  
  .audio {
    margin: 10px 0px;
  }
  
  input {
    padding: 5px;
  }
  
  .article-video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0px 5px 0px;
   
  }
  
  .frase {
    max-width: 360px;
    height: 75px;
  }
  
  .section-audio {
    margin: 0px 0px 10px 0px;
  }
 

.div-grabaciones {
    display: flex;
    flex-direction: column;
    height: 20px;
    align-items: center;
}

audio {
  margin-top : 10px;
}

.section-audio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-video2 {
  display: flex;
}

.grabar-audio {
  font-weight: 700;
  
}

.div-nohay-grabaciones {
  margin: 30px 0px;
}

footer {
  margin: 10px;
  display: flex;
  gap: 10px;
}

footer button {
  
}

iframe {
  border: 2px solid rgb(178, 182, 178);
}

.input-frase {
  margin-top: 5px;
  width: 80%;
  padding: 8px;
}

.iframe-grabacion {
  margin: 14px 0px;
}