:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background-image: url("/fondo-negro-2.avif");
    background-size: 100%;
  }
  
  #root {
    margin: 0 auto;
    text-align: center;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  p {
    padding: 5px;
    margin : 5px;
  }
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  .font-medium {
    font-size: medium;
  }
  
  .button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .button:hover {
    border-color: #646cff;
  }
  .button:focus,
  .button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .arcoiris {
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    margin: 20px auto;
    animation: movimientoArcoiris 3s linear infinite; /* Reducimos la duración a 5 segundos */
  }



   
  .span-link {
    transition: 0.4s ease-in-out;
   font-weight: 500;
   color: #ebebec;
   text-decoration: inherit;
 }

 
  .arcoiris-2 {
    border: 3px solid transparent;
    border-radius: 10px;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    margin: 20px auto;
    animation: movimientoArcoiris 3s linear infinite; /* Reducimos la duración a 5 segundos */
  }
  
  @keyframes movimientoArcoiris {
    0%, 100% {
      border-image-source: linear-gradient(to bottom right, #fd1892 0%, #b827fc 25%, #2c90fc 50%, #b8fd33 75%, #fec837 100%);
    }
    50% {
      border-image-source: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    .button {
      background-color: #f9f9f9;
    }
  }
  
  .relative {
    position: relative;
  }
  #btn-evaluar{
    margin: 0px;
  }
  
  #btn-mostar-respuesta {
    margin: 0px;
  }

  .text-center {
    text-align: center;
  }
.p-30 {
  padding : 30px
}
.m-10 {
  margin: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}

.flex {
  display: flex;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 90%;
  margin: 0 auto;
  
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.ocultar {
  visibility: hidden;
}


.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.very-easy, .principiante {
  color: rgb(168, 255, 87);
  }

.easy, .novato {
  color: rgb(0, 223, 174);
}

.medium, .intermedio {
  color: rgb(241, 219, 14);
}

.hard, .avanzado{
  color: rgb(255, 145, 0);
}

.very-hard, .experto {
  color: red;
}

.god {
  color: white;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 10px;
}

.wrap {
  flex-wrap: wrap;
}


.gap-10 {
  gap: 10px
}

.gap-20 {
  gap: 20px
}
.gap-30 {
 
}
.gap-50 {
  gap: 50px
}

ul{
  list-style: none;
}

.imagen-titulo {
  margin-top: 100px;
  width: 30vw;
}

.imagen-harry {
  width: 25vw;
}

.imagen-got {
  width: 40vw;
}

.imagen-friends {
  width: 25vw;
}

.imagen-shrek-2{
  width: 40vw;
}
.imagen-peaky-blinders {
  width: 55vw;
}
.imagen-scream-2022 {
  width: 40vw;
}

.imagen-the-room-2003 {
  width: 30vw;
  filter: invert(1);
}

.imagen-sex-education {
  width: 45vw;
  position: absolute;
  top: 13%;
}

.imagen-bojack-horseman {
  width: 35vw;
}


.imagen-house-of-the-dragon {
  width: 70vw;
}

.imagen-super-mario-bros {
  width: 13vw;
  position: absolute;
  top: 10%;
  right: 75px;
}

.imagen-kill-bill {
  position: absolute;
  width: 25vw;
  filter: contrast(-0%) sepia(1) hue-rotate(-5deg) saturate(1000%);
  top: 35%;
  left: 20px;
}

.imagen-bastardos-sin-gloria {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 25vw;
}

.imagen-harry-potter-1 {
  position: absolute;
  width: 30vw;
  top: 20px;
  right: 0px;
}
