@font-face {
  font-family: 'spiderman';
  src: url('../../fuentes/spiderman.ttf') format('truetype');
  /* Puedes agregar más formatos de fuente aquí si tienes */
}


.flex {
  display: flex;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.titulo-principal  {
  font-size: 12vw;
  font-family: "spiderman";
    padding: 20px 0px;

  color: white;

  text-shadow: 0 0 0px #fff, 0 0 20px #fff, 0 0 26px #292736, 0 0 24px #292736;

}

.ul-contenido {
  background-color: #0c0c0cbe;
  backdrop-filter: blur(2px);
  border-radius: 5px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em
  
}
.container {
  width: 90%;
  margin: 0 auto;
  
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.section-audio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 10px;
}

.ocultar {
  visibility: hidden;
}



.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.very-easy {
  color: rgb(168, 255, 87);
  }

.easy {
  color: green;
}

.medium {
  color: rgb(241, 219, 14);
}

.hard {
  color: rgb(255, 145, 0);
}

.very-hard {
  color: red;
}

.god {
  color: white;
}



.lista-input {
  background-color: #1a1919e3;
  border-radius: 5px;
  padding: 50px;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


ul {
  list-style: none;
}

.footer {
  display : flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0px;
}
.button-pagina {
  font-size: large;
  border-radius: 5px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  transition: ease-out 0.6s;
  background-color: #363636;
}


.button-pagina:hover {
  transition: ease-out 0.3s;
  transform: scale(1.15);
  filter: hue-rotate(30deg) brightness(65%);
}

.button-selected {
  background-color: #1a1a1a;
}
.titulo-temporada {
  font-size: xx-large;
}

.imagen-titulo {
  margin-top: 100px;
  width: 30vw;
}

.imagen-harry {
  width: 25vw;
}

.imagen-got {
  width: 40vw;
}

.imagen-friends {
  width: 25vw;
}

.imagen-shrek-2{
  width: 40vw;
}
.imagen-peaky-blinders {
  width: 55vw;
}
.imagen-scream-2022 {
  width: 40vw;
}

.imagen-the-room-2003 {
  width: 30vw;
  filter: invert(1);
}

.imagen-sex-education {
  width: 45vw;
  position: absolute;
  top: 13%;
}

.imagen-bojack-horseman {
  width: 35vw;
}


.imagen-house-of-the-dragon {
  width: 70vw;
  /*

  margin-right: 35px;
  */
}

.imagen-super-mario-bros {
  width: 13vw;
  position: absolute;
  top: 10%;
  right: 75px;
}

.imagen-kill-bill {
  position: absolute;
  width: 25vw;
  filter: contrast(-0%) sepia(1) hue-rotate(-5deg) saturate(1000%);
  top: 35%;
  left: 20px;
}

.imagen-bastardos-sin-gloria {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 25vw;
}

.imagen-harry-potter-1 {
  position: absolute;
  width: 30vw;
  top: 20px;
  right: 0px;
}

.portada {
  height: 400px;
}

.btn-ir-agregar-clip {
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.png-inicio {
  width: 120px;
}

.gato {
  transform: scaleX(-1);
  width: 140px;
}

.strong-cheems {
  width: 210px !important;
}

.rana2 {
  width: 190px !important;
}


.div-meme {
  flex-wrap: nowrap;
  padding: 10px;
  border-radius : 10px;
}

.img-meme {
  width: 170px;
}

.main{
  margin: 0 auto;
  width: 75vw;
}

.section-pruebas {
  margin-left: 40px;
}

.fondo {
 /* background-image: url("../../assets/fondo.jpg");
  */
  padding-bottom: 50px;
  margin: 30px 0px;
}

.wrap {
  flex-wrap: wrap;
}




.gap-10 {
  gap: 10px
}

.gap-20 {
  gap: 20px
}
.gap-50 {
  gap: 50px
}


.p-index {
  font-size: small;
}

.foto-index {
  width: 80%;
  margin: 20px;
  border: 2.5px solid white
}


.div-contenido-index {
  width: 80%;
  margin: 0 auto;
 
}
@media (min-width: 800px) {
  .titulo-principal {
    font-size: 6vw;
  }
  
  .p-index {
    font-size: medium;
  }
  .foto-index {
    width: 30vw;
   
  }

.div-contenido-index {
  width: 50%;
 
 
}
}
@media (min-width: 1600px) {
  .portada {
    height: 560px;
  }
}
