@font-face {
  font-family: 'spiderman';
  src: url('../../fuentes/spiderman.ttf') format('truetype');
}

.div-titulo {
  margin-top: 16%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 60px 0px 25px 0px;
  border: 2.8px solid white;
}

.titulo-principal  {
  font-size: 12vw;
  font-family: "spiderman";
  border-radius: 5px;
  color: white;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px #292736, 0 0 8px #292736, 0 0 10px #292736, 0 0 12px #292736, 0 0 14px #292736;
  animation: glow-1 .59s infinite alternate;

}

@keyframes glow-1 {
  to {
      text-shadow: 0 0 0px #02ff2c, 0 0 0px #02ff2c, 0 0 0px #02ff2c, 0 0 4px #02ff2c, 0 0 20px #02ff2c, 0 0 24px #fff, 0 0 28px #fff ;
  }
}

.button {
  margin: 10px;
}

.footer {
  display : flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0px;
}

.titulo-temporada {
  font-size: xx-large;
}


.img-meme {
  width: 170px;
}

.main{
  margin: 0 auto;
  width: 75vw;
}

.p-index {
  font-size: small;
}

.foto-index {
  width: 80%;
  margin: 20px;
  border: 2.5px solid white
}


.div-contenido-index {
  width: 80%;
  margin: 0 auto;
}


.li-index {
  margin-top : 30px;
  border-radius: 20px;
}

.fondo-li {
  position: relative;
  overflow: hidden;
}

.fondo-li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/super-mario-bros-portada1.jpg");
  background-size: 470%;
  background-position: 50%;
  filter: blur(2px) brightness(70%)!important;
  z-index: -1; /* Para que el fondo esté detrás del contenido */
}


.fondo-li-2 {
  position: relative;
  overflow: hidden;
}

.fondo-li-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/super-mario-bros-portada1.jpg");
  background-size: 470%;
  background-position: 60%;
  filter: blur(0px) brightness(90%)!important;
  z-index: -1; /* Para que el fondo esté detrás del contenido */
}


.fondo-li-3 {
  position: relative;
  overflow: hidden;
}

.fondo-li-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/super-mario-bros-portada1.jpg");
  background-size: 470%;
  background-position: 70%;
  filter: blur(2.2px);
  z-index: -1; /* Para que el fondo esté detrás del contenido */
}


@media (min-width: 800px) {
  .foto-index {
    display: block!important;
  }
  .titulo-principal {
    font-size: 6.5vw;
  }
  .p-index {
    font-size: medium;
  }
  .foto-index {
    width: 30vw;
  }

.div-contenido-index {
  margin: 20px 0px 10px 0px;
  width: 50%;
}

.fondo-li::before {
  top: 20px;
  background-size: 120%;
  background-position: 40% 62%;
  filter: brightness(60%)
}

.fondo-li-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/kill-bill-portada.jpg");
  background-size: 100%;
  background-position: 90%;
  filter: blur(0.3px);
  z-index: -1; /* Para que el fondo esté detrás del contenido */
}

.fondo-li-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/scream-2022-portada.jpg");
  background-size: 140%;
  background-position: 40% 20%;
  z-index: -1; /* Para que el fondo esté detrás del contenido */
  filter: blur(0px);
}}

@media (min-width: 1100px) {
  .div-titulo {
   margin-top: 15%;
  }
}

@media (min-width: 1600px) {
  .portada {
    height: 560px;
  }
}
